* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080404;
}

.header {
    margin-left: 5%; 
    margin-right: 5%;
    width: auto;
    height: 70px;
    background-color: #080404;
    border-bottom: 2px solid #fff;
}

.forza {
    width: 50px;
    height: auto;
    margin: 10px;
    transition: all 0.2s ease;
}

.forza:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.header ul {
    float: right;
    margin-right: 20px;
}

.header ul li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    line-height: 80px;
    margin: 0 5px;
}
.header ul li:last-child {
    margin-right: 0;
}
  
.header ul li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    position: absolute;
    top: 57px;
    background: transparent;
    transition: width .3s ease, background-color .5s ease;
}
.header ul li:hover:after {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 57px;
}

.header ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header ul li .logot {
    color: #f8502e;
    transition: .3s;
}

.header ul li .logot:hover {
    background-color: #fff;
}

/* .header ul li a:hover {
    transition: .3s;
    border-bottom: 1px solid #fff;
} */

.checkbut {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

.container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 5%;
    background-color: #080404;
}

.card2 {
    background: #fff;
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 15px;
    margin-bottom: 5%;
}

.cardimage {
    background-color: #080404;
    height: 170px;
    width: 300px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    
}

.slk55 {
    background-image: url(slk55.png);
}

.giulia {
    background-image: url(giulia.png);
}

.gt86 {
    background-image: url(gt86.png);
}

.tts {
    background-image: url(tts.png);
}

.fair {
    background-image: url(fair.png);
}

.cayman {
    background-image: url(cayman.png);
}

.c8 {
    background-image: url(c8.png);
}

.carrera {
    background-image: url(911.png);
}

.card2 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: large;
}

.card2 p {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card2 a {
    background-color: #080404;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: .5s ease;
}

.card2:hover {
    background-color: #080404;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.card2 a:hover {
    background-color: #080404;
    color: #fff;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease;
}

.card2 a::before {
    content: '';
    width: 0;
    height: 46.1px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.card2 a:hover::before {
    width: 198.4px;
}

.kembali {
    display: flex;
    position: fixed;
    width: 30px;
    height: 50px;
    bottom: 0;
    right: 0;
}

.kembali a {
    text-decoration: none;
    color: #080404;
    cursor: default;
}

/* js show on scroll */
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}


@media only screen and (min-width: 768px) {
    .checkbut {
        display: none;
    }
}


@media (max-width: 916px) {
    .checkbut{
        display: block;
      }
      .header ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #080404;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      .header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      .header ul li a{
        font-size: 20px;
      }
      .header ul li a:hover, .header ul li a.main{
        background: none;
        color: #080404;
      }
      #check:checked ~ ul{
        left: 0;
      }
}