* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #080404;
}

.header {
    margin-left: 5%; 
    margin-right: 5%;
    width: auto;
    height: 70px;
    background-color: #080404;
    border-bottom: 2px solid #fff; 
}

.forza {
    width: 50px;
    height: auto;
    margin: 10px;
    transition: all 0.2s ease;
}

.forza:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.header ul {
    float: right;
    margin-right: 20px;
}

.header ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header ul li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    line-height: 80px;
    margin: 0 5px;
}

.header ul li:last-child {
    margin-right: 0;
}
  
.header ul li:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    position: absolute;
    top: 57px;
    background: transparent;
    transition: width .3s ease, background-color .5s ease;
}

.header ul li:hover:after {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 57px;
}

.header ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header ul li .logot {
    color: #f8502e;
    transition: .3s;
}

.header ul li .logot:hover {
    background-color: #fff;
}

/* .header ul li a:hover {
    transition: .3s;
    border-bottom: 1px solid #fff;
} */

a.main {
    border-bottom: 1px solid #fff;
}

.checkbut {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

.container4 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
}

.titl4 {
    width: 50%;
    align-items: center;
    padding-top: 20px;
}

.titl4 h3 {
    color: #fff;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    top: 1%;
    width: 60%;
    height: 400px;
    border-collapse: collapse;
    border-spacing: 1;
    overflow: hidden;
    background: #fff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table, th, td {
    border: 1px solid #080404;
}

table tr img {
    display: flex;
    width: auto;
    height: 30px;
    padding: 5px;
    margin: 1%;
}

th {
    background: #f8502e;
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
}

.abu {
    background-color: #ddd;
}

.accept {
    width: 300px;
    height: 40px;
    text-align: center;
    margin: auto;
}

.accept p {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.accept p a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.accept p a:hover {
    color: #f8502e;
}


@media only screen and (min-width: 768px) {
    .checkbut {
        display: none;
    }

    table {
        width: 60%;
        height: 400px;
        border-collapse: collapse;
        border-spacing: 1;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
        background: #fff;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    table tr img {
        display: flex;
        width: auto;
        height: 30px;
        padding: 1px;
        margin: 1%;
        padding-left: 40px;
        padding-top: 10px;
    }
}


@media (max-width: 916px) {
    .checkbut{
        display: block;
      }
      .header ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #080404;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      .header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      .header ul li a{
        font-size: 20px;
      }
      .header ul li a:hover, .header ul li a.main{
        background: none;
        color: #080404;
      }
      #check:checked ~ ul{
        left: 0;
      }
}