body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #080404;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 4px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #080404;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .field {
    position: relative;
    border-bottom: 2px solid #080404;
    margin: 30px 0;
}

.field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #080404;
    opacity: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #f8502e;
    transition: .5s;
}

.field input:focus ~ label, 
.field input:valid ~ label{
    top: -5px;
    color: #f8502e;
    opacity: 100%;
}

.field input:focus ~ span::before, 
.field input:valid ~ span::before{
    width: 100%;
}

.forg {
    margin: -5px 0 20px 5px;
    color: #080404;
    cursor: pointer;
    text-decoration: none;
}

.forg:hover {
    text-decoration: underline;
    color: #f8502e;
}

.btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #f8502e;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.btn:hover {
    border-color: #080404;
    transition: .3s;
}

.signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #080404;
}

.signup a {
    color: #f8502e;
    text-decoration: none;
}

.signup a:hover {
    color: #080404;
}