body {
    background: #080404;
}

.container {
    position: relative;
    width: auto;
    overflow: hidden;
}

.big {
    width: 100%;
    height: 700px;
}

.big h1 {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 280px;
    font-size: 80px;
    transition: .5s ease-in-out;
}

.big h1 span {
    font-size: large;
}

.about {
    width: 100%;
    height: 330px;
    background-color: #fff;
}

.about img {
    display: inline-block;
    padding-left: 5%;
    transition: .3s ease all;
    display: none;
}

.about img:hover {
    transition: .3s ease all;
    transform: scale(1.05);
}

.about :where(h2) {
    font-family: 'Kanit', sans-serif;
    display: inline-block;
    color: #fff;
    text-shadow: 2px 0 #f8502e, -2px 0 #f8502e, 0 2px #f8502e, 0 -2px #f8502e, 1px 1px #f8502e, -1px -1px #f8502e, 1px -1px #f8502e, -1px 1px #f8502e;
    font-size: 9vh;
    padding-top: 10%;
    text-align: center;
    cursor: default;
}

.about span {
    color: #f8502e;
}

.about :where(h3) {
    opacity: 80%;
    color: rgba(0, 0, 0, 6);
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    cursor: default;
}

.about2 {
    margin: auto;
    width: 100%;
    height: 700px;
    background-color: #fff;
}

.about2 .parent {
    top: 1100px;
    width: 90%;
    height: 15%;
    padding-left: 5%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    flex-wrap: wrap;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    /* border: 1px solid #f8502e; */
}

.about2 .parent .profile {
    background-color: #fff;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about2 .parent .profile img {
    width: 25%;
    margin: auto;
}

.about2 .parent .profile p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
    cursor: default;
}

.about2 .parent .profile p span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
    color: #f8502e;
    font-size: x-large;
}

.showcase {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.showcase img {
    position: absolute;
    z-index: -1;
    height: 800px;
    left: -100%;
}

.showcase .jajargenjang {
    background-color: #fff;
    margin: auto;
    width: 50%;
    height: 800px;
    display: inline-block;
    transform: skewX(0deg);
    text-align: center;
}

.showcase .jajargenjang span {
    font-family: 'Kanit', 'sans-serif';
    color: #f8502e;
    font-size: 2.5em;
}

.showcase .jajargenjang p {
    margin-top: 100%;
    transform: skewX(0deg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    margin-left: 5%;
    margin-right: 5%;
}

.showcase .jajargenjang2 {
    display: none;
}

.showcase .jajargenjang .book button {
    transform: skewX(10deg);
    margin-left: 10%;
    margin-top: 50px;
    font-size: large;
    text-decoration: none;
    color: #fff;
    background: #f8502e;
    padding: 20px 50px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border: none;
}

.showcase .jajargenjang .book button:hover {
    box-shadow: 0 5px 15px #f8502e;
}
  
.container .content:hover {
    opacity: 1;
}
  
.container .content .text {
    height: 0;
    opacity: 1;
    transition-duration: 0.4s;
}

.container .content:hover .text {
    opacity: 1;
    transform: translateY(20px);
    cursor: default;
}

.container .content .text2 {
    height: 0;
    opacity: 1;
    transition-duration: 0.4s;
}
  
.container .content:hover .text2 {
    opacity: 1;
    transform: translateY(70px);
    cursor: default;
}

.container .content .text3 {
    height: 0;
    opacity: 1;
    transition-duration: 0.4s;
}
  
.container .content:hover .text3 {
    opacity: 1;
    transform: translateY(120px);
    cursor: default;
}

.start {
    text-align: center;
    align-content: center;
    max-width: 1200px;
    width: 100%;
    height: 300px;
    margin: auto;
}

.start p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

.start a {
    text-decoration: none;
    color: #000;
}

.start a:hover {
    text-decoration: none;
    color: #fff;
}

.btn {
    width: 50%;
    height: 20%;
    color: #080404;
    background-color: #fff;
    font-size: x-large;
    border: none;
    cursor: pointer;
    border: 3px solid #fff;
    transition: all 0.4s ease;
}

.btn:hover {
    background-color: #fff;
    transition: .2s;
    border: 3px solid #fff;
}

.btn:hover {
    background-color: #080404;
    color: #fff;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease;
}

.btn::before {
    content: '';
    width: 0;
    height: 54.9px;
    position: absolute; 
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
}

.log {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

.log .btn2 a {
    color: #000;
}

.log .btn2 {
    align-items: center;
    width: 100%;
    color: #080404;
    background-color: #fff;
    font-size: large;
    border: none;
    cursor: pointer;
    border: 3px solid #fff;
    transition: all 0.4s ease;
}

.log .btn2:hover {
    background-color: #fff;
    transition: .2s;
    border: 3px solid #fff;
}

.log .btn2:hover {
    background-color: #080404;
    color: #fff;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease;
}

.log .btn2::before {
    content: '';
    width: 0;
    height: 44.3px;
    position: absolute; 
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.log .btn2:hover::before {
    width: 100%;
}

.footer {
    margin: auto;
    height: 250px;
    max-width: 1200px;
    width: 100%;
    padding: 50px;
    background-color: #fff;
}

.copyright {
    width: 26em;
}

.copyright .horizon {
    font-size: x-large;
    cursor: default;
}

.copyright p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
    cursor: default;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.kolom {
    width: 16%;
    padding: 0 15px;
}

.kolom h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 500;
    position: relative;
    cursor: default;
}

.kolom h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f8502e;
    height: 2px;
    box-sizing: border-box;
    width: 79px;
}

.kolom ul li:not(:last-child) {
    margin-bottom: 10px;
}

.kolom ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #080404;
    display: block;
    transition: 0.2s ease all;
}

.kolom ul li a:hover {
    color: #f8502e;
    padding-left: 8px;
}

/* js show on scroll */
.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateY(+30%);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (min-width: 768px) {

    .big {
        width: 100%;
        height: 700px;
    }
    
    .big h1 {
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 280px;
        font-size: 6vw;
        transition: .5s ease-in-out;
    }
    
    .big h1 span {
        font-size: large;
    }
    
    .about {
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .about :where(h2) {
        font-family: 'Kanit', sans-serif;
        display: inline-block;
        color: #fff;
        text-shadow: 2px 0 #f8502e, -2px 0 #f8502e, 0 2px #f8502e, 0 -2px #f8502e, 1px 1px #f8502e, -1px -1px #f8502e, 1px -1px #f8502e, -1px 1px #f8502e;
        font-size: 15vw;
    }

    .about2 {
        margin: auto;
        width: 100%;
        height: 700px;
        background-color: #fff;
    }
    
    .about2 .parent {
        top: 1500px;
        width: 90%;
        height: 15%;
        padding-left: 5%;
        background-color: transparent;
        position: absolute;
        z-index: 2;
        flex-wrap: wrap;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        margin-bottom: 950px;
        /* border: 1px solid #f8502e; */
    }
    
    .about2 .parent .profile {
        background-color: #fff;
        border-radius: 10%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .about2 .parent .profile img {
        width: 50%;
        margin: auto;
    }
    
    .about2 .parent .profile p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: auto;
        text-align: center;
        cursor: default;
    }
    
    .about2 .parent .profile p span {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: auto;
        text-align: center;
        color: #f8502e;
        font-size: x-large;
    }
    
    .showcase {
        width: 100%;
        height: 1000px;
        overflow: hidden;
    }
    
    .showcase img {
        position: absolute;
        z-index: -1;
        height: 800px;
        margin-left: 126%;
    }
    
    .showcase .jajargenjang {
        background-color: #fff;
        margin: auto;
        width: 50%;
        height: 800px;
        display: inline-block;
        transform: skewX(-10deg);
        text-align: center;
    }
    
    .showcase .jajargenjang span {
        font-family: 'Kanit', 'sans-serif';
        color: #f8502e;
        font-size: 2.5em;
    }
    
    .showcase .jajargenjang p {
        margin-top: 30%;
        transform: skewX(10deg);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.7em;
        margin-left: 5%;
        margin-right: 5%;
    }

    .showcase .jajargenjang2 {
        display: flex;
        position: absolute;
        background-color: #080404;
        z-index: 1;
        width: 50%;
        height: 800px;
        transform: skewX(-10deg);
        right: -600px;
        top: 2100px;
    }
      
    .container .content:hover {
        opacity: 1;
    }
      
    .container .content .text {
        height: 0;
        opacity: 1;
        transition-duration: 0.4s;
    }
    
    .container .content:hover .text {
        opacity: 1;
        transform: translateY(20px);
        cursor: default;
    }
    
    .container .content .text2 {
        height: 0;
        opacity: 1;
        transition-duration: 0.4s;
    }
      
    .container .content:hover .text2 {
        opacity: 1;
        transform: translateY(70px);
        cursor: default;
    }
    
    .container .content .text3 {
        height: 0;
        opacity: 1;
        transition-duration: 0.4s;
    }
      
    .container .content:hover .text3 {
        opacity: 1;
        transform: translateY(120px);
        cursor: default;
    }
    
    .start {
        text-align: center;
        align-content: center;
        max-width: 1200px;
        width: 100%;
        height: 300px;
        margin: auto;
    }
    
    .start p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
    }
    
    .start a {
        text-decoration: none;
        color: #000;
    }
    
    .start a:hover {
        text-decoration: none;
        color: #fff;
    }
    
    .btn {
        width: 25%;
        color: #080404;
        background-color: #fff;
        font-size: xx-large;
        border: none;
        cursor: pointer;
        border: 3px solid #fff;
        transition: all 0.4s ease;
    }
    
    .btn:hover {
        background-color: #fff;
        transition: .2s;
        border: 3px solid #fff;
    }
    
    .btn:hover {
        background-color: #080404;
        color: #fff;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease;
    }
    
    .btn::before {
        content: '';
        width: 0;
        height: 77px;
        position: absolute; 
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    .btn:hover::before {
        width: 100%;
    }
    
    .log {
        width: 40%;
        margin: auto;
        margin-top: 20px;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
    }
    
    .log .btn2 a {
        color: #000;
        padding-left: 30%;
        padding-right: 30%;
    }
    
    .log .btn2 {
        align-items: center;
        width: 100%;
        color: #080404;
        background-color: #fff;
        font-size: x-large;
        border: none;
        cursor: pointer;
        border: 3px solid #fff;
        transition: all 0.4s ease;
    }
    
    .log .btn2:hover {
        background-color: #fff;
        transition: .2s;
        border: 3px solid #fff;
    }
    
    .log .btn2:hover {
        background-color: #080404;
        color: #fff;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease;
    }
    
    .log .btn2::before {
        content: '';
        width: 0;
        height: 44.3px;
        position: absolute; 
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    .log .btn2:hover::before {
        width: 100%;
    }
    
    .footer {
        margin: auto;
        height: 150px;
        max-width: 1200px;
        width: 100%;
        padding: 50px;
        background-color: #fff;
    }
    
    .copyright {
        width: 26em;
    }
    
    .copyright .horizon {
        font-size: x-large;
        cursor: default;
    }
    
    .copyright p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 300;
        padding-bottom: 20px;
        cursor: default;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .kolom {
        width: 16%;
        padding: 0 15px;
    }
    
    .kolom h4 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        margin-bottom: 40px;
        font-weight: 500;
        position: relative;
        cursor: default;
    }
    
    .kolom h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #f8502e;
        height: 2px;
        box-sizing: border-box;
        width: 79px;
    }
    
    .kolom ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .kolom ul li a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        color: #080404;
        display: block;
        transition: 0.2s ease all;
    }
    
    .kolom ul li a:hover {
        color: #f8502e;
        padding-left: 8px;
    }

    .about span {
        color: #f8502e;
    }

    .about :where(h3) {
        opacity: 80%;
        color: rgba(0, 0, 0, 6);
        font-family: 'Kanit', sans-serif;
        text-align: center;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .content {
        opacity: 0;
        font-size: 50px;
        position: absolute;
        top: 1400px;
        left: 0;
        color: #fff;
        background-color: rgba(200, 200, 200, 0.5);
        width: 100%;
        height: auto;
        transition: all 400ms ease-out;
        text-align: center;
    }
      
    .container .content:hover {
        opacity: 1;
    }
      
    .container .content .text {
        height: 0;
        opacity: 1;
        transition-duration: 0.4s;
    }
    
    .container .content:hover .text {
        opacity: 1;
        transform: translateY(20px);
        cursor: default;
    }
    
    .container .content .text2 {
        height: 0;
        opacity: 1;
        transition-duration: 0.4s;
    }
      
    .container .content:hover .text2 {
        opacity: 1;
        transform: translateY(140px);
        cursor: default;
    }
    
    .container .content .text3 {
        height: 0;
        opacity: 1;
        transition-duration: 0.4s;
    }
      
    .container .content:hover .text3 {
        opacity: 1;
        transform: translateY(260px);
        cursor: default;
    }
    
    .start {
        width: 100%;
        height: 600px;
    }
    
    .start a {
        text-decoration: none;
        color: #fff;
    }
    
    .start a:hover {
        text-decoration: none;
        color: #fff;
    }
    
    .btn {
        align-content: center;
        color: #fff;
        height: 13.9%;
        margin-top: 15%;
        background-color: #080404;
        font-size: xx-large;
        border: none;
        cursor: pointer;
        border: 3px solid #f8502e;
        transition: all 0.4s ease;
    }
    
    .btn:hover {
        background-color: #fff;
        transition: .2s;
        border: 3px solid #fff;
    }
    
    .btn:hover {
        background-color: #080404;
        color: #fff;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease;
    }
    
    .btn::before {
        content: '';
        width: 0;
        height: 77px;
        position: absolute; 
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    .btn:hover::before {
        width: 100%;
    }

    .log {
        width: 50%;
        margin: auto;
        margin-top: 20px;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
    }
    
    .log .btn2 a {
        color: #000;
    }
    
    .log .btn2 {
        align-items: center;
        width: 100%;
        color: #080404;
        background-color: #fff;
        font-size: x-large;
        border: none;
        cursor: pointer;
        border: 3px solid #fff;
        transition: all 0.4s ease;
        border-radius: 3px;
    }
    
    .log .btn2:hover {
        background-color: #fff;
        transition: .2s;
        border: 3px solid #fff;
    }
    
    .log .btn2:hover {
        background-color: #080404;
        color: #fff;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease;
    }
    
    .log .btn2::before {
        content: '';
        width: 0;
        height: 44px;
        position: absolute; 
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #f8502e 0%, #f8502e 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    .log .btn2:hover::before {
        width: 100%;
    }


    /* floating border */
    .cover {
        position: absolute;
        z-index: 1;
        width: 70%;
        height: 200px;
        border: 1px solid #fff;
        top: 11em;
        left: 15%;
        transition: .5s ease all;
        border-bottom: 60px solid #080404;
        border-top: 1px solid transparent;
    }

    .cover:hover {
        transition: .5s ease all;
        transform: rotate();
        top: 11.7em;
        left: 15%;
        border-top: 60px solid transparent;
    }

    .cover2 {
        position: absolute;
        z-index: 1;
        width: 51%;
        height: 100px;
        border: 1px solid #fff;
        top: 44.7em;
        left: 48%;
        transition: .5s ease all;
        border-bottom: 200px solid #080404;
        visibility: hidden;
    }

    .cover2:hover {
        transition: .5s ease all;
        transform: rotate();
        top: 44.7em;
        left: 48%;
        border-top: 60px solid transparent;
        border-bottom: 150px solid transparent;
        height: 130px;
        visibility: hidden;
    }
}

/* doesnt work */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}